# For Loop Questions:
1.	Print All Elements in a List Using a For Loop
2.	Calculate the Sum of All Numbers in a List
3.	Find the Factorial of a Given Number
4.	Print the Multiplication Table of a Given Number
5.	Print the Fibonacci Sequence Up to n Terms
6.	Count the Number of Even and Odd Numbers in a List
7.	Reverse a String Using a For Loop
8.	Find the Maximum and Minimum Values in a List
9.	Print All Prime Numbers Within a Given Range
10.	Iterate Over a Dictionary and Print Each Key-Value Pair
11.	Find the Length of Each Word in a List of Strings
12.	Create a List of Squares for Numbers From 1 to 10
13.	Filter Out Only Positive Numbers From a List
14.	Print Each Character of a String Separately
15.	Check if an Element Exists in a List Without Using the in Keyword

### 1. Print All Elements in a List Using a For Loop

In [3]:
list1 = [1,2,3,4,5,6,7,8]
for i in list1:
    print(i, end=" ")

1 2 3 4 5 6 7 8

### 2. Calculate the Sum of All Numbers in a List

In [5]:
list2 = [1,2,3,4,5,6,7,8,9,10]
sum=0
for i in list2:
    sum+=i
print(sum)

55

### 3. Find the Factorial of a Given Number

In [16]:
num =int(input("Enter the number: "))

if num < 0:
    print("Factorial does not exist for negative numbers.")
elif num == 0:
    print("The factorial of 0 is 1.")
else:
    fact=1
    for i in range(1,num+1):
        fact*=i
    print(f"The factorial of {num} is {fact}.")

Enter the number:  5

The factorial of 5 is 120.

### 4. Print the Multiplication Table of a Given Number

In [21]:
num4 = int(input("Enter the number: "))
for i in range(1,11):
    print(f"{num4} X {i} = {i*num4}")

Enter the number:  5

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

### 5. Print the Fibonacci Sequence Up to n Terms

In [35]:
n_terms = int(input("Enter the number of terms: "))
a, b = 0, 1
if n_terms <= 0:
    print("Please enter a positive integer.")
elif n_terms == 1:
    print("Fibonacci sequence up to 1 term:")
    print(a)
else:
    print("Fibonacci sequence:")
    for _ in range(n_terms):
        print(a, end=" ")
        a, b = b, a + b

Enter the number of terms:  10

Fibonacci sequence:
0 1 1 2 3 5 8 13 21 34

### 6. Count the Number of Even and Odd Numbers in a List

In [38]:
list6 = [1,2,3,4,5,6,7,8,9,10,1,2,3,4,5,6,7,8,9,10]
even_count = 0
odd_count = 0
for i in list6:
    if i%2==0:
        even_count+=1
    else:
        odd_count+=1
print(f"Even Count: {even_count}")
print(f"Odd Count: {odd_count}")

Even Count: 10
Odd Count: 10

### 7. Reverse a String Using a For Loop

In [39]:
str7 = "I am from Nashik"
reversed_str7 = ""
for i in str7:
    reversed_str7 = i + reversed_str7
print(reversed_str7)

kihsaN morf ma I

In [40]:
my_string = "hello"
reversed_string = ""
for char in my_string:
    reversed_string = char + reversed_string
print(reversed_string)

olleh

### 8. Find the Maximum and Minimum Values in a List

In [41]:
list8 = [1,2,3,4,5,6,7,8,9,10,1,2,3,4,5,6,7,8,9,10]
max_value = max(list8)
min_value = min(list8)
print(f"max value: {max_value}")
print(f"min value: {min_value}")

max value: 10
min value: 1

In [47]:
list8 = [1,2,3,4,5,6,7,8,9,10,1,2,3,4,5,6,7,0,8,9,100]
max_value = list8[0]
min_value = list8[0]
for i in list8:
    if i > max_value:
        max_value = i
    if i < min_value:
        min_value = i
print(f"max_value: {max_value}")
print(f"min_value: {min_value}")

max_value: 100
min_value: 0

### 9. Print All Prime Numbers Within a Given Range

In [60]:
start_range = int(input("Enter the starting number of the range: "))
end_range = int(input("Enter the ending number of the range: "))

for i in range(start_range, end_range + 1):
    if i > 1:
        is_prime = True
        for j in range(2, i):
            if (i % j) == 0:
                is_prime = False
                break
        if is_prime:
            print(i, end=" ")

Enter the starting number of the range:  1
Enter the ending number of the range:  100

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

### 10. Iterate Over a Dictionary and Print Each Key-Value Pair

In [61]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
for key, value in my_dict.items():
    print(f"Key: {key}, Value: {value}")

Key: a, Value: 1
Key: b, Value: 2
Key: c, Value: 3

### 11. Find the Length of Each Word in a List of Strings

In [64]:
list_of_string = ["I", "am", "From", "Nashik"]
for i in list_of_string:
    print(f"{i} => {len(i)}")

I => 1
am => 2
From => 4
Nashik => 6

In [65]:
words = ["apple", "banana", "kiwi", "grape"]
for word in words:
    print(f"The word '{word}' has a length of {len(word)}.")

The word 'apple' has a length of 5.
The word 'banana' has a length of 6.
The word 'kiwi' has a length of 4.
The word 'grape' has a length of 5.

### 12. Create a List of Squares for Numbers From 1 to 10

In [69]:
list_of_squares = []
for i in range(1,11):
    list_of_squares.append(i*i)
print(list_of_squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### 13. Filter Out Only Positive Numbers From a List

In [74]:
my_list13 = [10, -5, 0, 'hello', 3.14, 'world', -20, 0, 'python']
positive_num = []
for i in my_list13:
    if isinstance(i, int):
        if i > 0:
            positive_num.append(i)
print(positive_num)

[10]

In [75]:
numbers = [-2, 5, -8, 10, -3, 7]
positive_numbers = []
for num in numbers:
    if num > 0:
        positive_numbers.append(num)
print(positive_numbers)

[5, 10, 7]

### 14. Print Each Character of a String Separately

In [81]:
str14 = "I am From Nashik"
str14 = str14.replace(" ","")
for i in str14:
    # print(i, end=" ")
    print(i)

I
a
m
F
r
o
m
N
a
s
h
i
k

In [82]:
my_string = "Python"
for char in my_string:
    print(char)

P
y
t
h
o
n

### 15. Check if an Element Exists in a List Without Using the in Keyword

In [24]:
mixed_list = [10, "apple", 30.5, [1, 2], True, 30]
search_element = 30.5
found = False

for element in mixed_list:
    if element == search_element:
        found = True
        break
if found:
    print(f"{search_element} exists in the list.")
else:
    print(f"{search_element} does not exist in the list.")

30.5 exists in the list.