# Basic Lambda Questions
1.	Write a lambda function to add two numbers.
2.	Create a lambda to find the square of a number.
3.	Write a lambda that returns the cube of a given number.
4.	Write a lambda to check if a number is even.
5.	Write a lambda to check if a number is odd.
6.	Write a lambda to get the last character of a string.
7.	Write a lambda to reverse a string.
8.	Write a lambda to find the maximum of two numbers.
9.	Write a lambda to find the minimum of two numbers.
10.	Write a lambda that adds 10 to a given number.
11.	Write a lambda that multiplies a number by 5.
12.	Write a lambda that returns the length of a string.
13.	Write a lambda that checks if a string starts with the letter “A”.
14.	Write a lambda that converts a string to uppercase.
15.	Write a lambda that checks if a number is positive or negative.

### 1. Write a lambda function to add two numbers.

In [1]:
add = lambda a,b: a+b
add(3,4)

7

### 2. Create a lambda to find the square of a number.

In [2]:
square = lambda a : a**2
square(3)

9

### 3. Write a lambda that returns the cube of a given number.

In [3]:
cube = lambda a : a**3
cube(3)

27

### 4. Write a lambda to check if a number is even.

In [10]:
even = lambda a : a%2==0
print(even(2))
print(even(5))

True
False

### 5. Write a lambda to check if a number is odd.

In [9]:
odd = lambda a : a%2!=0
print(odd(3))
print(odd(4))

True
False

### 6. Write a lambda to get the last character of a string.

In [12]:
last_char = lambda s: s[-1]
print(last_char("Python"))
print(last_char("Vikram"))

n
m

### 7. Write a lambda to reverse a string.

In [13]:
rev = lambda s: s[::-1]
print(rev("Python"))

nohtyP

### 8. Write a lambda to find the maximum of two numbers.

In [14]:
max_num = lambda x,y: max(x,y)
max_num(45,33)

45

### 9. Write a lambda to find the minimum of two numbers.

In [15]:
min_num = lambda x,y: min(x,y)
min_num(67,56)

56

### 10. Write a lambda that adds 10 to a given number.

In [16]:
add_value = lambda num: num + 10
add_value(45)

55

### 11. Write a lambda that multiplies a number by 5.

In [17]:
multi = lambda x: x*5
multi(60)

300

### 12. Write a lambda that returns the length of a string.

In [19]:
len_of_str = lambda s: len(s)
print(len_of_str("Python"))
print(len_of_str("Programs"))

6
8

### 13. Write a lambda that checks if a string starts with the letter “A”.

In [20]:
check_str = lambda c: c[0] == 'A'
print(check_str("Apple"))
print(check_str("proper"))

True
False

### 14. Write a lambda that converts a string to uppercase.

In [23]:
str_to_upper = lambda s: s.upper()
print(str_to_upper("Python"))
print(str_to_upper("programs"))

PYTHON
PROGRAMS

### 15. Write a lambda that checks if a number is positive or negative.

In [28]:
check_num = lambda n: "Positive" if n > 0 else "Negative"
print(check_num(56))
print(check_num(-56))

Positive
Negative

# Intermediate Level
16.	Use map() with lambda to square all numbers in a list.
17.	Use map() with lambda to convert all strings in a list to uppercase.
18.	Use filter() with lambda to get only even numbers from a list.
19.	Use filter() with lambda to get only strings that start with “A”.
20.	Use map() with lambda to get the length of each word in a list.
21.	Use filter() with lambda to find numbers divisible by 3.
22.	Use map() with lambda to add 100 to each element in a list.
23.	Use reduce() with lambda to find the sum of all elements in a list.
24.	Use reduce() with lambda to find the maximum number in a list.
25.	Use map() and lambda to get cubes of numbers from 1 to 10.
26.	Use filter() with lambda to get all words longer than 5 characters.
27.	Use lambda to sort a list of tuples based on the second value.
28.	Use lambda to sort a list of dictionaries by the value of a key.
29.	Use lambda to find all palindromic strings from a list.
30.	Use lambda and filter() to remove all empty strings from a list.
31.	Use lambda to count how many words in a list contain the letter "e".
32.	Use lambda with sorted() to sort names by length.
33.	Use lambda to extract the year from a date string like "2025-10-27".
34.	Use lambda to check if a string is a digit (without using .isdigit()).
35.	Use lambda to calculate factorial using reduce().

### 16. Use map() with lambda to square all numbers in a list.

In [33]:
list1 = [1,2,3,4,5,6,7,8,9,10]
squares = list(map(lambda x: x**2, list1)) # map: applies the lambda function to each element in the list.
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### 17. Use map() with lambda to convert all strings in a list to uppercase.

In [3]:
str1 = "Python Programs"
new_data = list(map(lambda s: s.upper(), str1))
print(new_data)

['P', 'Y', 'T', 'H', 'O', 'N', ' ', 'P', 'R', 'O', 'G', 'R', 'A', 'M', 'S']

### 18. Use filter() with lambda to get only even numbers from a list.

In [7]:
list1 = [1,2,3,4,5,6,7,8,9,10]
even_num = list(filter(lambda num: num%2==0, list1)) # fliter: selects only elements that return True from the lambda.
print(even_num)

[2, 4, 6, 8, 10]

### 19. Use filter() with lambda to get only strings that start with “A”.

In [9]:
words = ["Apple", "Banana", "Avocado", "Mango", "Apricot", "Grapes"]
result = list(filter(lambda w: w[0]=="A", words))
result

['Apple', 'Avocado', 'Apricot']

### 20. Use map() with lambda to get the length of each word in a list.

In [13]:
words = ["Apple", "Banana", "Avocado", "Mango", "Apricot", "Grapes"]
length = list(map(lambda w: len(w), words))
length

[5, 6, 7, 5, 7, 6]

### 21. Use filter() with lambda to find numbers divisible by 3.

In [15]:
list1 = [1,2,3,4,5,6,7,8,9,10,11,12]
result = list(filter(lambda l: l%3==0, list1))
result

[3, 6, 9, 12]

### 22. Use map() with lambda to add 100 to each element in a list.

In [16]:
list2 = [1,2,3,4,5,6,7,8,9,10,11,12]
add_ele = list(map(lambda s: s + 100, list2))
add_ele

[101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112]

### 23. Use reduce() with lambda to find the sum of all elements in a list.

In [23]:
from functools import reduce
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]
total = reduce(lambda a, b: a + b, numbers) #reduce() → repeatedly applies the lambda across the list:
print(total)

78

### 24. Use reduce() with lambda to find the maximum number in a list.

In [24]:
from functools import reduce
numbers = [1,2,3,4,5,66,7,8,9,10,11,12]
max_num = reduce(lambda a,b: max(a,b), numbers)
print(max_num)

66

### 25. Use map() and lambda to get cubes of numbers from 1 to 10.

In [26]:
num = [1,2,3,4,5,66,7,8,9,10]
cube = list(map(lambda x: x**3, num))
cube

[1, 8, 27, 64, 125, 287496, 343, 512, 729, 1000]

### 26. Use filter() with lambda to get all words longer than 5 characters.

In [27]:
words = ["Apple", "Banana", "Avocado", "Mango", "Apricot", "Grapes"]
results = list(filter(lambda w: len(w) > 5, words))
results

['Banana', 'Avocado', 'Apricot', 'Grapes']

### 27. Use lambda to sort a list of tuples based on the second value.

In [32]:
data = [(1, 5), (2, 3), (4, 1), (6, 2), (5, 4)]
sorted_data = sorted(data, key=lambda x: x[1])
print(sorted_data)

[(4, 1), (6, 2), (2, 3), (5, 4), (1, 5)]

### 28. Use lambda to sort a list of dictionaries by the value of a key.

In [34]:
students = [
    {"name": "Vikram", "age": 22},
    {"name": "Amit", "age": 20},
    {"name": "Ajay", "age": 25},
    {"name": "Rahul", "age": 21}
]
sorted_students = sorted(students, key=lambda x: x["age"])
print(sorted_students)

[{'name': 'Amit', 'age': 20}, {'name': 'Rahul', 'age': 21}, {'name': 'Vikram', 'age': 22}, {'name': 'Ajay', 'age': 25}]

### 29. Use lambda to find all palindromic strings from a list.

In [36]:
words = ["madam", "apple", "level", "banana", "radar", "python"]
palindrome = list(filter(lambda w: w == w[::-1], words))
palindrome

['madam', 'level', 'radar']

### 30. Use lambda and filter() to remove all empty strings from a list.

In [41]:
words = ["apple", "", "banana", "", "cherry", " ", "grapes", ""]
filtered = list(filter(lambda w: w.strip() != "", words))
print(filtered)

['apple', 'banana', 'cherry', 'grapes']

### 31. Use lambda to count how many words in a list contain the letter "e".

In [48]:
words = ["madam", "apple", "level", "banana", "radar", "python"]
count_e = len(list(filter(lambda w: 'e' in w, words)))
count_e

2

### 32. Use lambda with sorted() to sort names by length.

In [53]:
words = ["madam", "apple", "level", "banana", "radar", "python"]
sort_name = sorted(words, key=lambda w: len(w))
sort_name

['madam', 'apple', 'level', 'radar', 'banana', 'python']

### 33. Use lambda to extract the year from a date string like "2025-10-27".

In [54]:
date = "2025-10-27"
get_year = lambda d: d.split("-")[0]
print(get_year(date))

2025

### 34. Use lambda to check if a string is a digit (without using .isdigit()).

In [55]:
check_digit = lambda s: all(ch in "0123456789" for ch in s) #all() → returns True only if all characters are digits
print(check_digit("12345"))   # True
print(check_digit("12a45"))   # False

True
False

### 35. Use lambda to calculate factorial using reduce().

In [59]:
from functools import reduce
n = 5
fact = reduce(lambda a,b: a*b, range(1, n+1))
fact

120

# Advanced Level 
36.	Write a lambda that returns 'Even' or 'Odd' for a number.
37.	Write a lambda to find the largest among three numbers.
38.	Write a lambda to check if a string is a palindrome.
39.	Write a lambda that calculates the area of a circle (πr²).
40.	Write a lambda that checks if a number lies between 10 and 50.
41.	Write a lambda that takes two lists and returns a list of element-wise sums.
42.	Write a lambda that returns a list of only unique elements (remove duplicates).
43.	Write a lambda to count vowels in a given string.
44.	Write a lambda to merge two dictionaries.
45.	Write a lambda that sorts a list of words by their last letter.
46.	Write a lambda that extracts domain names from email addresses.
47.	Write a lambda that returns the second largest number in a list.
48.	Write a lambda that converts a list of integers to a single concatenated string.
49.	Write a nested lambda to add 5 and then multiply by 2.
50.	Write a lambda expression equivalent of:
<pre>def f(x, y):
         return (x + y) ** 2 if x > y else (y - x) ** 2</pre>

### 36. Write a lambda that returns 'Even' or 'Odd' for a number.

In [61]:
check_even_odd = lambda x: "Even" if x%2==0 else "Odd"
print(check_even_odd(45))
print(check_even_odd(40))

Odd
Even

### 37. Write a lambda to find the largest among three numbers.

In [62]:
largest = lambda a, b, c: a if (a > b and a > c) else (b if b > c else c)
print(largest(10, 25, 15))
print(largest(50, 40, 100))

25
100

### 38. Write a lambda to check if a string is a palindrome.

In [63]:
is_palindrome = lambda s: s == s[::-1]
print(is_palindrome("madam"))   # True
print(is_palindrome("python"))  # False

True
False

### 39. Write a lambda that calculates the area of a circle (πr²).

In [3]:
area_circle = lambda r: 3.14*r**2
print(area_circle(7))
print(area_circle(3))

153.86
28.26

### 40. Write a lambda that checks if a number lies between 10 and 50.

In [8]:
check_num = lambda x: 10 <= x <= 50
print(check_num(45))
print(check_num(5))
print(check_num(80))
print(check_num(15))

True
False
False
True

### 41. Write a lambda that takes two lists and returns a list of element-wise sums.

In [11]:
list1 = [1, 2, 3, 4]
list2 = [10, 20, 30, 40]
sum_lists = lambda a,b : list(map(lambda x,y: x+y, a, b))
print(sum_lists(list1, list2))

[11, 22, 33, 44]

### 42. Write a lambda that returns a list of only unique elements (remove duplicates).

In [13]:
list42 = [1, 2, 2, 3, 4, 4, 5, 5, 6]
uniq_list = lambda lst: list(set(lst))
uniq_list(list42)

[1, 2, 3, 4, 5, 6]

### 43. Write a lambda to count vowels in a given string.

In [20]:
str43 = "lambda"
count_vowels = len(list(filter(lambda v: v in "AEIOUaeiou", str43)))
count_vowels

2

### 44. Write a lambda to merge two dictionaries.

In [26]:
dict1 = {"name": "Vikram", "age": 25, "city": "Pune"}
dict2 = {"course": "Python", "duration": "3 months", "level": "Beginner"}
# dict1 ={}
# dict2={}
# merge_dict = lambda a,b : a | b
merge_dict = lambda a,b : {**a,**b}
merge_dict(dict1,dict2)

{'name': 'Vikram',
 'age': 25,
 'city': 'Pune',
 'course': 'Python',
 'duration': '3 months',
 'level': 'Beginner'}

### 45. Write a lambda that sorts a list of words by their last letter.

In [28]:
words = ["apple", "banana", "cherry", "date", "kiwi"]
sort_last = sorted(words, key = lambda w: w[-1])
sort_last

['banana', 'apple', 'date', 'kiwi', 'cherry']

### 46. Write a lambda that extracts domain names from email addresses.

In [31]:
emails = ["user@gmail.com", "admin@yahoo.com", "info@python.org"]
get_domain = list(map(lambda s: s.split("@")[1], emails))
get_domain

['gmail.com', 'yahoo.com', 'python.org']

### 47. Write a lambda that returns the second largest number in a list.

In [36]:
numbers = [10, 45, 23, 78, 56, 89, 12, 89]
second_largest = lambda lst: sorted(set(lst))[-2]
print(second_largest(numbers))

78

### 48. Write a lambda that converts a list of integers to a single concatenated string.

In [43]:
list48 = [1,2,3,4,5,6,7,8,9,0]
concat_str = "".join(map(lambda a: str(a), list48))
concat_str

'1234567890'

### 49. Write a nested lambda to add 5 and then multiply by 2.

In [47]:
calc = lambda x: (lambda y: (y+5)*2)(x)
print(calc(10))

30

### 50. Write a lambda expression equivalent of:
    def f(x, y):
        return (x + y) ** 2 if x > y else (y - x) ** 2

In [52]:
f = lambda x,y: (x+y)**2 if x > y else (y - x)**2
print(f(4,2))
print(f(2,4))

36
4