# Set Questions:
1. Remove Duplicates from a List Using a Set
2. Find the Union of Two Sets
3. Find the Intersection of Two Sets
4. Find the Difference Between Two Sets
5. Check if a Set is a Subset of Another Set
6. Check if Two Sets are Disjoint
7. Remove an Element from a Set
8. Add an Element to a Set
9. Find the Symmetric Difference Between Two Sets
10. Check if a Set is Empty
11. Convert a List to a Set and Vice Versa
12. Check if Two Sets are Equal
13. Get All Unique Characters from a String Using a Set
14. Count the Number of Unique Elements in a List
15. Iterate Over a Set and Print Each Element

### 1. Remove Duplicates from a List Using a Set

In [4]:
list1 = [11,22,33,44,55,66,77,88,11,44,77,120,"i",'j','s','i']
list2 = list(set(list1))
list2

[33, 66, 's', 11, 44, 77, 'j', 22, 55, 88, 'i', 120]

### 2. Find the Union of Two Sets

In [7]:
set2 = {1,2,3,4,5}
set3 = {4,5,6,7,8,9,10}
union_set = set2.union(set3)
union_set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [8]:
set2 = {1,2,3,4,5}
set3 = {4,5,6,7,8,9,10}
union_set = set2 | set3
union_set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### 3. Find the Intersection of Two Sets

In [16]:
set2 = {1,2,3,4,5}
set3 = {4,5,6,7,8,9,10}
new_set = set2.intersection(set3)
new_set

{4, 5}

In [17]:
set2 = {1,2,3,4,5}
set3 = {4,5,6,7,8,9,10}
new_set = set2 & set3
new_set

{4, 5}

### 4. Find the Difference Between Two Sets

In [18]:
set2 = {1,2,3,4,5}
set3 = {4,5,6,7,8,9,10}
new_set = set2.difference(set3)
new_set

{1, 2, 3}

In [19]:
set2 = {1,2,3,4,5}
set3 = {4,5,6,7,8,9,10}
new_set = set2 - set3
new_set

{1, 2, 3}

### 5. Check if a Set is a Subset of Another Set

In [25]:
set4 = {1,2,3,4,5}
set5 = {4,5,6,7,8,9,10}
new_set = set4.issubset(set5)
new_set

False

In [26]:
set4 = {1,2,3,4,5}
set5 = {1,2}
new_set = set5.issubset(set4)
new_set

True

In [27]:
set4 = {1,2,3,4,5}
set5 = {1,2}
new_set = set5 <= set4
new_set

True

### 6. Check if Two Sets are Disjoint

In [33]:
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}
disjoint_Set = set1.isdisjoint(set2)
disjoint_Set

True

In [34]:
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8, 4}
disjoint_Set = set2.isdisjoint(set1)
disjoint_Set

False

### 7. Remove an Element from a Set

In [39]:
set7 = {1, 2, 3, 4, 5, 6, 7, 8}
set7.remove(7)
print(set7)

{1, 2, 3, 4, 5, 6, 8}

In [73]:
my_set = {10, 20, 30}
my_set.discard(40)
my_set

{10, 20, 30}

### 8. Add an Element to a Set

In [46]:
set8 = {1, 2, 3, 4, 5, 6, 8}
set8.add(7)
set8.update({9,10,11,12})
print(set8)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

### 9. Find the Symmetric Difference Between Two Sets

In [48]:
set9 = {1, 2, 3, 4}
set99 = {5, 6, 7, 8, 4}
sym_diff = set9.symmetric_difference(set99)
sym_diff

{1, 2, 3, 5, 6, 7, 8}

In [74]:
set_a = {1, 2, 3}
set_b = {3, 4, 5}
symmetric_diff = set_a ^ set_b
symmetric_diff

{1, 2, 4, 5}

### 10. Check if a Set is Empty

In [50]:
set10 = {}
if len(set10) == 0:
    print("set is empty")
else:
    print("set is not empty")

set is empty

In [83]:
set_empty = set()
set_non_empty = {1}

is_empty = len(set_empty) == 0  # True
is_empty_bool = not set_empty  # True

print(is_empty)
print(is_empty_bool)

True
True

### 11. Convert a List to a Set and Vice Versa

In [53]:
lst11 = [1,2,3,4,5,6,7,8,8,9,9,7,5,4,10]
set11 = set(lst11)
print(set11)
list11 = list(set11)
print(list11)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 12. Check if Two Sets are Equal

In [56]:
set1 = {1, 2, 3, 4}
set2 = {4,3,2,1}
if set1 == set2:
    print("set are equal")
else:
    print("Set are not equal")

set are equal

### 13. Get All Unique Characters from a String Using a Set

In [60]:
str13 = "I am from Nashik"
str13 = str13.replace(" ","")
set13 = set(str13)
set13

{'I', 'N', 'a', 'f', 'h', 'i', 'k', 'm', 'o', 'r', 's'}

### 14. Count the Number of Unique Elements in a List

In [63]:
lst11 = [1,2,3,4,5,6,7,8,8,9,9,7,5,4,10]
lst11 = set(lst11)
print(len(lst11))

10

### 15. Iterate Over a Set and Print Each Element

In [68]:
set15 = {1, 2, 3, 4, 5, 6, 8, 9, 10}
for i in set15:
    print(i, end=" ")

1 2 3 4 5 6 8 9 10