# 4. Tuple Questions:
1. Access Elements in a Tuple
2. Check if an Element Exists in a Tuple
3. Count the Occurrences of an Element in a Tuple
4. Find the Index of an Element in a Tuple
5. Convert a List to a Tuple and Vice Versa
6. Unpack a Tuple into Variables
7. Concatenate Two Tuples
8. Check if Two Tuples are Identical
9. Sort a Tuple
10. Find the Length of a Tuple
11. Create a Tuple with Single Element (and Explain the Syntax)
12. Reverse a Tuple
13. Convert a Tuple of Tuples to a Single Tuple
14. Iterate Over a Tuple and Print Each Element
15. Create a Tuple Without Using Parentheses (Tuple Packing)

### 1. Access Elements in a Tuple

In [12]:
my_tuple = ('a', 'b', 'c', 'd')
first_element = my_tuple[0]
print(first_element)

third_element = my_tuple[2] 
print(third_element)

last_element = my_tuple[-1]  
print(last_element)

second_last = my_tuple[-2] 
print(second_last)

a
c
d
c

In [14]:
numbers = (10, 20, 30, 40, 50, 60)

slice_1 = numbers[1:4]
slice_2 = numbers[:3]
slice_3 = numbers[2:]
slice_4 = numbers[::2]
slice_5 = numbers[::-1]
print(slice_1)
print(slice_2)
print(slice_3)
print(slice_4)
print(slice_5)

(20, 30, 40)
(10, 20, 30)
(30, 40, 50, 60)
(10, 30, 50)
(60, 50, 40, 30, 20, 10)

### 2. Check if an Element Exists in a Tuple

In [7]:
tup2 = (1,2,3,4,5,6,77,4,5)
print(45 in tup2)
print(77 in tup2)

False
True

In [9]:
my_tuple = (10, 20, 30, 'hello', 'world')
if 30 in my_tuple:
    print("30 is present in the tuple.")
else:
    print("30 is not present in the tuple.")
if 50 in my_tuple:
    print("50 is present in the tuple.")
else:
    print("50 is not present in the tuple.")

30 is present in the tuple.
50 is not present in the tuple.

### 3. Count the Occurrences of an Element in a Tuple

In [22]:
tup3 = (10, 20, 30, 40, 50, 60, 50, 50)
print(tup3.count(10))
print(tup3.count(11))
print(tup3.count(50))

1
0
3

### 4. Find the Index of an Element in a Tuple

In [28]:
# my_tuple.index(element, start, end)
tup4 = (10, 20, 30, 40, 50, 60, 50, 50)
tup4.index(50)

4

In [30]:
data = ('a', 'b', 'c', 'a', 'd', 'a')
element = 'a'
all_indices = []

for index, value in enumerate(data):
    if value == element:
        all_indices.append(index)

print(f"All indices of '{element}': {all_indices}")

All indices of 'a': [0, 3, 5]

### 5. Convert a List to a Tuple and Vice Versa

In [32]:
data_list = ['a', 'b', 'c', 'a', 'd', 'a']
data_tuple = tuple(data_list)
print(data_tuple)
data_list = list(data_tuple)
print(data_list)

('a', 'b', 'c', 'a', 'd', 'a')
['a', 'b', 'c', 'a', 'd', 'a']

### 6. Unpack a Tuple into Variables

In [39]:
tuple_data = ('a', 'b', 'c', 'a', 'd', 'a')
t1,*t2,t3 = tuple_data
print(t1)
print(t2)
print(t3)

a
['b', 'c', 'a', 'd']
a

In [45]:
tuple_data = ('a', 'b', 'c', 'a', 'd', 'a')
first, _, third, _, fifth,_ = tuple_data
print(first)
print(third)
print(fifth)

a
c
d

In [46]:
person_info = ("Alice", 30, "New York")
name, age, city = person_info

print(f"Name: {name}")  
print(f"Age: {age}")    
print(f"City: {city}")

Name: Alice
Age: 30
City: New York

### 7. Concatenate Two Tuples

In [47]:
tup_a = (10,)
tup_b = (20, 30)
tup_c = (40, 50, 60)

final_tuple = tup_a + tup_b + tup_c

print(final_tuple)

(10, 20, 30, 40, 50, 60)

### 8. Check if Two Tuples are Identical

In [48]:
tuple_a = (10, 'apple', 3.14)
tuple_b = (10, 'apple', 3.14)
is_identical_1 = (tuple_a == tuple_b)
print(f"Tuple A == Tuple B: {is_identical_1}")

tuple_c = (1, 2, 3)
tuple_d = (2, 1, 3)
is_identical_2 = (tuple_c == tuple_d)
print(f"Tuple C == Tuple D: {is_identical_2}")

tuple_e = (1, 2)
tuple_f = (1, 2, 3)
is_identical_3 = (tuple_e == tuple_f)
print(f"Tuple E == Tuple F: {is_identical_3}")

Tuple A == Tuple B: True
Tuple C == Tuple D: False
Tuple E == Tuple F: False

### 9. Sort a Tuple

In [57]:
tuple9 = (2,3,1,4,5,3,6,7,8,6,5)
list9 = list(tuple9)
list9 = sorted(list9)
tuple9 = tuple(list9)
tuple9

(1, 2, 3, 3, 4, 5, 5, 6, 6, 7, 8)

In [58]:
tuple9 = (2,3,1,4,5,3,6,7,8,6,5)
tuple9 = tuple(sorted(tuple9))

print(tuple9)

(1, 2, 3, 3, 4, 5, 5, 6, 6, 7, 8)

### 10. Find the Length of a Tuple

In [59]:
tuple10 = (10, "hello", 3.14, None)
length = len(tuple10)
print(f"Length of the tuple is: {length}")

Length of the tuple is: 4

### 11. Create a Tuple with Single Element (and Explain the Syntax)

In [62]:
my_tuple = ('hello',)
print(my_tuple)
print(type(my_tuple))

# Without the trailing comma, Python treats the parentheses as a 
# grouping mechanism for a standard expression, 
# not as the constructor for a tuple.

('hello',)
<class 'tuple'>

### 12. Reverse a Tuple

In [63]:
original_tuple = (10, 20, 30, 40, 50)

reversed_tuple = original_tuple[::-1]

print(f"Original: {original_tuple}")
print(f"Reversed: {reversed_tuple}")

Original: (10, 20, 30, 40, 50)
Reversed: (50, 40, 30, 20, 10)

In [64]:
original_tuple = ('a', 'b', 'c', 'd')
reverse_iterator = reversed(original_tuple)
reversed_tuple = tuple(reverse_iterator)
print(f"Reversed: {reversed_tuple}")

Reversed: ('d', 'c', 'b', 'a')

### 13. Convert a Tuple of Tuples to a Single Tuple

In [65]:
nested_tuple = ((1, 2), (3, 4, 5), (6,))
single_tuple = ()

for i in nested_tuple:
    single_tuple += i

print(single_tuple)

(1, 2, 3, 4, 5, 6)

In [67]:
nested_tuple = (('a', 'b'), ('c',), ('d', 'e', 'f'))
single_tuple = sum(nested_tuple, ())
# sum(iterable, start=0)
print(single_tuple)

('a', 'b', 'c', 'd', 'e', 'f')

### 14. Iterate Over a Tuple and Print Each Element

In [70]:
nested_tuple = (('a', 'b'), ('c',), ('d', 'e', 'f'))
for i in nested_tuple:
    print(i, end=" ")

('a', 'b') ('c',) ('d', 'e', 'f')

In [71]:
original_tuple = (10, 20, 30, 40, 50)
for i in original_tuple:
    print(i, end=" ")

10 20 30 40 50

In [72]:
my_data = (10, 20, 30)
print("Elements and their indices:")
for index in range(len(my_data)):
    print(f"Index {index}: {my_data[index]}")

Elements and their indices:
Index 0: 10
Index 1: 20
Index 2: 30

### 15. Create a Tuple Without Using Parentheses (Tuple Packing)

In [76]:
a = 1
b = 2
c = 3
tuple15 = a, b, c
print(tuple15)
print(type(tuple15))

(1, 2, 3)
<class 'tuple'>